name: PHPCSFixer

on:
    pull_request:
    workflow_dispatch:

permissions:
    contents: read

jobs:
    phpcsfixer:
        runs-on: ${{ matrix.operating-system }}

        strategy:
            matrix:
                operating-system: [ubuntu-latest]
                php-versions: ["8.3"]

        name: PHPCSFixer with PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }}

        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-versions }}

            - name: Install Composer packages
              run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

            - name: Run PHPCSFixer
              run: $GITHUB_WORKSPACE/vendor/bin/php-cs-fixer fix --dry-run
